<div class="login-wrapper top-space" fxLayout="column" fxLayoutAlign="start none">
    <mat-tab-group mat-align-tabs="center">


        <mat-tab label="Productos">
            <router-outlet name="products"></router-outlet>
        </mat-tab>


        <mat-tab label="Categorias ">
            <router-outlet name="categories"></router-outlet>
        </mat-tab>

        <mat-tab label="Colores ">
            <app-color></app-color>
        </mat-tab>


        <mat-tab label="Presentaciones">
            <router-outlet name="presentations"></router-outlet>
        </mat-tab>


    </mat-tab-group>

</div>